:root {
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    color: #444;
    background: #fafafa;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #fff;
        background: #1c1c1c;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2 {
    margin: 0;
}

.c-chat {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
}

.c-chat > * {
    flex: 1 100%;
}

.c-conversation-list {
    padding: 20px 0 20px 20px;
    border-right: 1px solid grey;
}

.c-conversation-list__title {
    padding: 0 0 20px 20px;
    height: 40px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.c-message-list {
    padding: 20px 20px 20px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.c-message-list__title {
    padding: 0 0 20px 20px;
    height: 40px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.c-message-list__placeholder {
    padding-left: 20px;
}

.c-message-list__content {
    padding-left: 20px;
}

.c-conversation {
    padding: 40px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    border: none;
    background: transparent;
}

.c-conversation--is-active {
    background: rgba(127, 127, 127, 0.1);
}

.c-conversation__name {
    font-size: large;
}

.c-conversation__date {
    font-size: small;
}

.c-message {
    padding: 20px;
    border: 1px solid gray;
    display: inline-block;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    align-self: flex-start;
    min-width: 70%;
    cursor: pointer;
}

.c-message-list .c-list__item:nth-of-type(odd) {
    display: flex;
}

.c-message-list .c-list__item:nth-of-type(odd) .c-message {
    margin-left: auto;
    text-align: right;
}

.c-message-list__content--is-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-message__date {
    font-size: small;
    margin-bottom: 10px;
}

.c-message__text {
    font-size: large;
}

.c-conversation-list__list {
    list-style-type: none;
    padding-inline-start: 0;
}

.c-message-list__list {
    list-style-type: none;
    padding-inline-start: 0;
}

.c-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.c-list__item {
    /*list-style-type: none;*/
}

.c-composer {
    display: flex;
}

.c-composer__content {
    width: 100%;
    display: flex;
    padding: 20px;
}

.c-composer__input {
    padding: 20px;
    display: block;
    font-size: large;
    width: 100%;
    margin-left: auto;
}

.c-composer__button {
    min-width: 120px;
    border-radius: 0;
    padding: 20px;
    font-size: large;
    border: 1px solid grey;
    margin-left: 9px;
    cursor: pointer;
}

.c-conversation:focus,
.c-composer__input:focus,
.c-composer__button:focus {
    box-shadow: inset 0 0 0 1px white, inset 0 0 0 4px black;
}

.c-composer__input:disabled,
.c-composer__button:disabled {
    opacity: 50%;
    background: rgba(127,127,127, 0.5);
    cursor: not-allowed;
}

@media all and (min-width: 600px) {
    .c-conversation-list {
        flex: 1 20vw;
    }
}

@media all and (min-width: 800px) {
    .c-message-list {
        flex: 5 50vw;
    }

    .c-composer__input {
        max-width: 50%;
    }

    .c-message-list__content,
    .c-conversation-list__list {
        overflow-y: auto;
        height: calc(100vh - 300px);
    }
}
